.classql {
    background-color: magenta;
    justify-content: center;
    border-color: red;
    justify-items: center;
    margin: 5px;
    align-items: center;
    border-radius: 5px;
    border-width: 5px;
}